@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --main-color:#8e44ad;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rg(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rg(0,0,0,.3);

}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;

}
html{
    font-size: 62.5%;
    overflow: hidden;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar{
    background-color: var(--white);
}
html::-webkit-scrollbar{
    background-color: var(--main-color);
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--);
    display:flex;
    padding-top:2rem ;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}
section{
    padding: 5rem 10%;
}
.header .logo{
    font-size: 2.5rem;
    color:var(--black);
}
.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem ;
    color:var(--black);

}
.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.button{
    display: inline-block;
    background: var(--black);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-left: 4rem ;
}
.button:hover{
    background: var(--main-color);
}


.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #05daee;
    padding-right: 40px;
    color:#020202;
  }
  .input-search::placeholder{
    color:rgb(49, 48, 48);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 200;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#000000 ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }



  .content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff ;

}

.bg{
   background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.9) ),url(../pictures/sgup.jpg);
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 100vh;
   overflow-y: scroll;
   overflow-x: scroll;
}


.clearfix::after{
      content:"";
      clear:both;
      display:table;
}
::-webkit-Scrollbar{
   width: 15px;
}
::-webkit-scrollbar-track{
   background: #212121;
}
::-webkit-scrollbar-thumb{
   background: #212121;
}




h1{
text-align:center;
color:#fff;
padding-top:60px;
font-weight: bold;
font-size:50px;
margin-top: 50px;
}
h2{
color:#fff;
padding: 7px 0 0 15px;
font-weight: bold;
font-size:35px;
}
.container{
    background-color:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.9) ) ;
    max-width:400PX;
    margin:0 auto;
    padding:20px;
    border-radius: 10px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    text-align:center;
}
.container h1{
    color:#e5e4e2;
    margin-bottom:20px;
}
.container p{
    color:#f5f0f0;
}

input[type=text], input[type=password] {
    width:100%;
    padding:10px;
    margin:5px 0 22px 0;
    display:inline-block;
    border:none;
    background: #f1f1f1;
    border-radius:5px;
}

input[type=text]:focus, input[type=password]:focus{
    background-color:#ddd ;
    outline:none;
}

label{
    font-family: sans-serif;
    color:#ddd;
}

hr{
    border:1px solid #f1f1f1;
    margin-bottom:25px;
}

button{
    background-color: #04AA6D;
    color:white;
    padding:12px 20px;
    margin:8px 0;
    border:none;
    border-radius:5px;
    cursor: pointer;
    width:100%;
    opacity: 0.9;
}

button:hover{
    opacity:1;
}

.cancelbtn{
    padding: 12px 20px;
    background-color: #86130a;
}

.cancelbtn, .signupbtn{
    float:left;
    width:48%;

}

.container{
    padding:16px;
}



.footer{
    background: url(../pictures/footer.jpg) no-repeat;
    background-size: cover;
    background-position: center;
   

}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap: 3rem;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: 5rem;
    transition: .2s linear ;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}
.footer .credit span{
    color: var(--main-color);
}



@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}
@media (max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding:3rem 2rem;
    }
}
@media (max-width:768px){

    #menu-btn{
        
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }
   .header .navbar{
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-top:var(--border) ;
    padding: 2rem;
    transition: .2s linear ;
    clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
   }
   .header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
   }

   .header .navbar a{
    display: block;
    margin: 2rem;
    text-align:center ;
   }
}
@media (max-width:450px){
    html{
        font-size: 50%;
    }
    section{
        padding:3rem 2rem;
    }
}